In [56]:
#list creation
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [60]:
#list indexing
numbers = [1,2,3,4,5]
print(numbers[0])
print(numbers[-1])
print(numbers[2])

1
5
3

In [62]:
#list append and insert
numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)
numbers.insert(0,18)
print(numbers)

[1, 2, 3, 4, 5, 6]
[18, 1, 2, 3, 4, 5, 6]

In [92]:
#list removal
numbers = [1,2,3,4,5]
numbers.remove(5)
print(numbers)

#list removal with using pop
numbers = [1,2,3,4,5]
numbers.pop(3)
print(numbers)

[1, 2, 3, 4]
[1, 2, 3, 5]

In [64]:
#list sorting
numbers = [18,20,45,7,16]
numbers.sort()
print(numbers)

[7, 16, 18, 20, 45]

In [66]:
#list reversal
books = ["the predator","the emperor", "the reaper","the annihilator"]
books.reverse()
print(books)

['the annihilator', 'the reaper', 'the emperor', 'the predator']

In [67]:
#sum of list elements
numbers = [20,30,40,50]
print(sum(numbers))

140

In [70]:
#maximum and minimum of a list
numbers = [100,85,84,95]
min_element = min(numbers)
max_element = max(numbers)
print(min_element)
print(max_element)

84
100

In [80]:
#count occurrences
names = ["tristan","dante", "jeremy","tristan"]
names.count("tristan")

2

In [84]:
#merging lists
list1 = [1,2,3,4,4]
list2 = [5,6,7,8,7,7,8,9]
merged_list = list1+list2
unique_list = list(set(merged_list))
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
#tuple creation and access
names = ("tristan","dante","jeremy")
print(names)
names[2]

('tristan', 'dante', 'jeremy')

'jeremy'

In [99]:
#tuple unpacking
names = ("sagar","sush","swap","swaruu")
bro,me,akka,anna = names
print(bro)
print(me)
print(akka)
print(anna)


books = ("the predator","the emperor", "the reaper","the annihilator")
book1,book2,*rest = books
print(book1)
print(book2)
print(rest)


numbers = (1,2,3,4,5)
a,*middle,b,c = numbers
print(a)
print(middle)
print(b)
print(c)

size = (24,(25,26),27,28)
small,(small,medium),large,extra = size
print(small)
print((small,medium))
print(large)
print(extra)

sagar
sush
swap
swaruu
the predator
the emperor
['the reaper', 'the annihilator']
1
[2, 3]
4
5
25
(25, 26)
27
28

In [102]:
#tuple to list , list to tuple
tournaments = ["cwc","CT","T20I","IPL","WTC"]
tournaments = tuple(tournaments)
print(tournaments)

tropes = ("enemies to lovers","mafia","marriage of convenience")
tropes = list(tropes)
print(tropes)

('cwc', 'CT', 'T20I', 'IPL', 'WTC')
['enemies to lovers', 'mafia', 'marriage of convenience']

In [103]:
#tuple concatenaton
awards = ("pott","orange cap","mom","mvp","purple cap","mos")
players = ("virat","kl rahul" ,"hardik pandya","shreyas iyer")
awardedplayers = awards+players
print(awardedplayers)

('pott', 'orange cap', 'mom', 'mvp', 'purple cap', 'mos', 'virat', 'kl rahul', 'hardik pandya', 'shreyas iyer')

In [104]:
#dictionary creation
favpersons = {
    "celebrity" : "virat",
    "family"    : "amma",
    "friend"    : "jahnavi"
}
print(favpersons)

{'celebrity': 'virat', 'family': 'amma', 'friend': 'jahnavi'}

In [105]:
#accessing dictionary values
favpersons = {
    "celebrity" : "virat",
    "family"    : "amma",
    "friend"    : "jahnavi"
}
print(favpersons["celebrity"])

virat

In [116]:
#adding to a dictionary
favpersons = {
    "celebrity" : "virat",
    "family"    : "amma",
    "friend"    : "jahnavi"
}
favpersons["benchmate"] = "mona"
print(favpersons)

{'celebrity': 'virat', 'family': 'amma', 'friend': 'jahnavi', 'benchmate': 'mona'}

In [118]:
#updating a dictionary
virat = {
    "age" : "35",
    "country" : "india"
}
virat["age"] = "36"
print(virat)

{'age': '36', 'country': 'india'}

In [119]:
#removing elements from a dictionary
cwc = {
    "won" : 1983,
    "lost" : 2023,
    "recent win" : 2011
}
del cwc["lost"]
print(cwc)

{'won': 1983, 'recent win': 2011}

In [120]:
#iterating through a dictionary
cwc = {
    "won" : 1983,
    "lost" : 2023,
    "recent win" : 2011
}
for key,value in cwc.items():
    print(key,value)

won 1983
lost 2023
recent win 2011